
		#calc-contain {
			position: relative;
			WIDTH: 300px;
			border: 2px solid black;
			border-radius: 4px
		}
		input[type=button] {
			background: #66ffff;
			width: 20%;
			font-size: 20px;
			font-weight: 900;
			margin: 2%;
			border-radius: 4px;
		}
		input[type=text] {
			position: relative;
			display: block;
			width : 90%;
			margin: 5px auto;
			font-size: 20px;
		}